<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Secure Message</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon name="key-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 50%;">
      <ion-grid style="height: 100%;">
        <ion-row style="height: 45px;">
          <ion-col>
            <ion-item lines="none">
              <ion-label>Message to encrypt</ion-label>
              <ion-button slot="end" (click)="pasteText()">
                <ion-icon name="document-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="height: calc(100% - 45px);">
          <ion-col>
            <ion-item lines="none">
              <ion-input class="input" type="text" inputmode="text" clearInput [(ngModel)]="model.inMessage">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row style="height: 50%;">
      <ion-grid style="height: 100%;">
        <ion-row style="height: 45px;">
          <ion-col>
            <ion-item lines="none">
              <ion-label>Encrypted message</ion-label>
              <ion-button slot="end" (click)="copyText()">
                <ion-icon name="copy-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="height: calc(100% - 45px);">
          <ion-col>
            <ion-item lines="none">
              <ion-textarea class="output" rows="5" [(ngModel)]="model.outMessage">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>