<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Secure Message</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentChangeKeyPrompt()">
        <ion-icon name="key-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-grid>
        <ion-row style="height: 45px;">
          <ion-col>
            <ion-item lines="none">
              <ion-label>Message to ...</ion-label>
              <ion-button slot="end" fill="clear" (click)="pasteText()">
                <ion-icon name="document-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-textarea class="text-input" rows="10" cols="20" placeholder="Enter text here..." [(ngModel)]="model.inMessage"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row class="buttons">
      <ion-button fill="clear" (click)="encrypt()">
        <ion-label>Enctypt</ion-label>
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="decrypt()">
        <ion-label>Decrypt</ion-label>
        <ion-icon slot="end" name="lock-open-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="launchZalo()">
        <ion-label>Chat</ion-label>
        <ion-icon slot="end" name="lock-open-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row style="height: 45px;">
          <ion-col>
            <ion-item lines="none">
              <ion-label>... message</ion-label>
              <ion-button slot="end" fill="clear" (click)="copyText()">
                <ion-icon name="copy-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-textarea class="text-input" rows="10" readonly placeholder="Output here..." [(ngModel)]="model.outMessage"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>