.calendar-wrapper {
  .solar {
    text-align: center;
    padding-bottom: 30px;

    .toolbar {
      width: 100%;
      text-align: center;

      .picker {
        margin-left: -16px;
      }
    }

    .week-header {
      color: rgba(#000000, .5);
    }

    .weeks {
      .block {
        display: inline-block;
        width: 18px;
        height: 18px;
      }

      .now {
        color: #4854e0;
      }

      .selected {
        color: #fff;
        border-radius: 50%;
        background-color: #6370ff;
        padding: 8px;
      }

      .disabled {
        pointer-events: none;
      }
    }
  }

  .lunar {
    border: 1px solid rgba(#92949c, 0.6);
    text-align: center;
    width: 80%;
    margin: auto;

    .month-year {
      background-color: #5260ff;
      margin: -5px;
      margin-bottom: 1px;
    }

    .date {
      font-size: 40px;
      font-weight: bold;
    }

    .weekday {
      font-weight: bold;
    }

    .lunar-field {
      ion-row {
        padding: 0;
      }

      .lunar-date {
        font-size: 30px;
      }
    }
  }
}