<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lunar Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar-wrapper">
    <div class="solar">
      <div class="title">
        <span>Solar Calendar</span>
      </div>
      <div class="calendar">
        <div class="calendar-toolbar">
          <ion-buttons slot="start">
            <ion-button (click)="calendarService.previousMonth()">
              <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-datetime class="picker" cancelText="CANCEL" doneText="OK"
                        displayFormat="MMM YYYY" pickerFormat="MMM YYYY" mode="md"
                        min="1980" max="2090"
                        [value]="calendarService.model.selectedCalendar"
                        (ionChange)="calendarService.chooseMonth($event)">
          </ion-datetime>

          <ion-buttons slot="end">
            <ion-button (click)="calendarService.nextMonth()">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>

        <div class="weeks-wrapper">
          <div class="week-header">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let weekDay of calendarService.weekDays">{{ weekDay }}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="weeks">
            <ion-grid *ngFor="let week of calendarService.weeks">
              <ion-row>
                <ion-col *ngFor="let date of week; trackBy: trackById"
                         (click)="selectDate(date)">
                  <span [class.now]="date.isToday"
                        [class.selected]="date.solar.date === selectedDate.date && date.solar.month === selectedDate.month"
                        *ngIf="!date.isDisabled">
                    {{ date.solar.date }}
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  
    <div class="lunar">
      <div class="title">
        <span>Lunar Calendar</span>
      </div>
      <div class="calendar">
        <div>
          <div class="calendar-toolbar">
            <span>{{ lunar.year + ' - ' + (lunar.month + 1) }}</span>
          </div>
          <div class="date">
            <span>Lunar year: {{ lunar.lunarYear }}</span>
            <span>Lunar month: {{ (lunar.month + 1) }}</span>
            <span>Lunar date: {{ lunar.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" size="small" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="top">
    </ion-fab-list> -->
  </ion-fab>
</ion-content>
