.calendar-wrapper {
  width: 100%;
  height: 100%;

  .solar {
    height: 50%;
    width: 100%;

    .calendar {

      .calendar-toolbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .picker {
          margin-left: -16px;
        }
      }

      .weeks-wrapper {
        .week-header {
          height: 20px;
        }
  
        .weeks {
          .now {
            color: #2fdf75;
          }

          .selected {
            color: #fff;
            background-color: #17a34f;
          }
        }
      }
    }
  }

  .lunar {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .calendar {
      height: 100%;
      width: 70%;
      border: 1px solid rgba(#000000, .12);
      margin-bottom: 8px;

      .calendar-toolbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .date {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
      }
    }
  }

  .title {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }

}