<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()" [hidden]="!showSkip">
        <ion-label>Skip</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">Welcome to <b>MyApp</b></h2>
      <p>The AnD2 is a phone app using ionic</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
      <h2 class="slide-title">What is Ionic?</h2>
      <p>
        <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies
        like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to Play?</h2>
      <ion-button fill="clear" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
