<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()" [hidden]="!showSkip">
        <ion-label>Skip</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">Welcome to <b>AnD2</b></h2>
      <p>The <b>AnD2</b> is a cross platform application to view Vietnamese lunar calendar and calculate date diff</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
      <h2 class="slide-title">Why <b>AnD2</b> created?</h2>
      <p>The main purpose of <b>AnD2</b> is to calculate love days of me and my girl friend, check lunar calendar</p>
      <p><b>AnD2</b> also provide tool to encrypt message for secure chat contents</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to Play?</h2>
      <ion-button fill="clear" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
