<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()" [hidden]="!showSkip">
        <ion-label>{{ 'TUTORIAL.SKIP' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">
    <ion-slide>
      <img src="assets/img/slide-1.svg" class="slide-image"/>
      <h2 class="slide-title">{{ 'TUTORIAL.PAGE_1.HEADER' | translate }}</h2>
      <p>{{ 'TUTORIAL.PAGE_1.CONTENT_1' | translate }}</p>
      <p>{{ 'TUTORIAL.PAGE_1.CONTENT_2' | translate }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide-2.svg" class="slide-image"/>
      <h2 class="slide-title">{{ 'TUTORIAL.PAGE_2.HEADER' | translate }}</h2>
      <p>{{ 'TUTORIAL.PAGE_2.CONTENT_1' | translate }}</p>
      <p>{{ 'TUTORIAL.PAGE_2.CONTENT_2' | translate }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide-3.svg" class="slide-image"/>
      <h2 class="slide-title">{{ 'TUTORIAL.PAGE_3.HEADER' | translate }}</h2>
      <ion-button fill="clear" (click)="startApp()">
        {{ 'TUTORIAL.PAGE_3.CONTINUTE' | translate }}
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
