<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lunar">
      <ion-icon src="assets/img/lunar-calendar.svg"></ion-icon>
      <ion-label>{{ 'LUNAR.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="date-diff">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ 'DATEDIFF.TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tool">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>{{ 'TOOL.TITLE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>