<ion-content>
  <div class="head">
    <h2 class="title">Change secret key</h2>
    <h2 class="sub-title">Current key: {{ key }}</h2>
  </div>

  <div class="input-wapper">
    <ion-input #newKey type="text" class="input" required="true"
               placeholder="16 characters"
               maxlength="16" minlength="16"
               debounce="200"
               (ionChange)="updateLength($event.target.value)">
    </ion-input>
    <ion-label class="hint">{{ keyLength }} /16</ion-label>
  </div>
  
  <div class="button-group">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-label>Cancel</ion-label>
    </ion-button>
    <ion-button fill="clear" (click)="changeSecretKey(newKey.value)">
      <ion-label>Ok</ion-label>
    </ion-button>
  </div>
</ion-content>