.container {
  .toolbar {
    box-sizing: border-box;
    margin: 8px;
    height: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    box-sizing: border-box;
    margin: 8px;
    flex: 1 1 1e-09px;
    flex-direction: column;
  }

  .full-width {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

  }

  .text-input {
    border: 1px solid rgba(#212121, .5);
    border-radius: 3px;
    padding: 0 10px;
  }

  .action-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}