ion-content {
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .top-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 300px;
  }

  .bottom-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.avatar {
  ion-row {
    text-align: center;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    white-space: nowrap;
    color: rgba(#000, .6);
  }
}

.background {
  background-image: url('../../../assets/img/breakup.webp');
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#bba7b1, 0.5);
    z-index: -1;
  }

  #svg-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;

    path {
      fill: #fff;
      fill-rule: evenodd;
      stroke-width: 1;
    }
  }
}

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.days {
  @extend %full-fill;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  z-index: 15;

  div {
    margin: 10px;
  }

  span {
    font-weight: 600;
  }
}

.circle {
  @extend %full-fill;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  color: #eed8d8;
  box-shadow: inset 0 0 0 1px rgba(#eed8d8, .75);
  z-index: 10;

  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * .05 * 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
  }

  &::before {
    animation-delay: 8s * -.5;
  }
}

$clip-size: 200px * (1 + 0.05 * 2);
@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, $clip-size, 2px, 0px);
  }

  25% {
    clip: rect(0px, 2px, $clip-size, 0px);
  }

  50% {
    clip: rect($clip-size - 2px, $clip-size, $clip-size, 0px);
  }

  75% {
    clip: rect(0px, $clip-size, $clip-size, $clip-size - 2px);
  }
}

.heart-box {
  @extend %full-fill;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('../../../assets/img/small-heart.png');
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;
  z-index: 5;

}

@mixin animation($name, $duration, $delay, $count) {
  -webkit-animation: $name $duration $delay $count;
  -moz-animation: $name $duration $delay $count;
  -o-animation: $name $duration $delay $count;
  -ms-animation: $name $duration $delay $count;
  animation: $name $duration $delay $count;
}


.animate-topright {
  position: absolute;
  @include animation(movetopRight, 6.5s, 1s, infinite);
}

.animate-bottomright {
  position: absolute;
  @include animation(movebottomRight, 4.5s, 1.7s, infinite);
}

.animate-topleft {
  position: absolute;
  @include animation(movetopLeft, 8.5s, 5.4s, infinite);
}

.animate-bottomleft {
  position: absolute;
  @include animation(movebottomLeft, 7.5s, 4.8s, infinite);
}

.animate-up {
  position: absolute;
  @include animation(moveup, 7.5s, 2.2s, infinite);
}

.animate-down {
  position: absolute;
  @include animation(movedown, 5.5s, 5.5s, infinite);
}

.animate-left {
  position: absolute;
  @include animation(moveleft, 5.5s, 2.9s, infinite);
}

.animate-right {
  position: absolute;
  @include animation(moveright, 5.5s, 3.4s, infinite);
}

@keyframes movetopRight {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 10%;
    left: 80%;
    opacity: 0;
  }
}

@keyframes movebottomRight {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 90%;
    left: 90%;
    opacity: 0;
  }
}

@keyframes movetopLeft {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 10%;
    left: 20%;
    opacity: 0;
  }
}

@keyframes movebottomLeft {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 90%;
    left: 5%;
    opacity: 0;
  }
}

@keyframes moveup {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 0%;
    left: 45%;
    opacity: 0;
  }
}

@keyframes movedown {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 100%;
    left: 45%;
    opacity: 0;
  }
}

@keyframes moveleft {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 45%;
    left: 10%;
    opacity: 0;
  }
}

@keyframes moveright {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }

  100% {
    top: 45%;
    left: 97%;
    opacity: 0;
  }
}
