<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- <ion-list lines="none">
          <ion-list-header>Account</ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login"
                      routerLinkActive="active"
                      routerDirection="root"
                      detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

        <ion-list lines="none">
          <ion-list-header>
            <ion-icon slot="start" name="navigate-outline"></ion-icon>
            <ion-label>{{ 'MENU.NAVIGATE' | translate }}</ion-label>
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngFor="let page of pages; let i = index">
            <ion-item [routerLink]="page.url"
                      routerLinkActive="active"
                      routerDirection="root"
                      detail="false">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-item (click)="showTutorial()" detail="false">
            <ion-icon slot="start" name="tv"></ion-icon>
            <ion-label>{{ 'MENU.TUTORIAL' | translate }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            <ion-icon slot="start" name="globe-outline"></ion-icon>
            <ion-label>{{ 'MENU.LANGUAGE' | translate }}</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-select interface="popover" mode="md"
                        [value]="languageService.currentLanguage | async"
                        (ionChange)="languageService.changeLanguage($event)">
              <ion-select-option value="vi">Vietnamese</ion-select-option>
              <ion-select-option value="en">English</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-item>
            <ion-label (click)="dark=!dark">{{ 'MENU.THEME' | translate }}</ion-label>
            <ion-toggle (ionChange)="toggleTheme()" [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-item (click)="showAbout()" detail="false">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>{{ 'MENU.ABOUT' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
