<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TOOL.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-item (click)="openSecureMessage()">
      <ion-icon slot="start" src="assets/icon/shield.svg"></ion-icon>
      <ion-label>Secure Message</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" src="assets/icon/quochuy.svg"></ion-icon>
      <ion-label>DCS</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
